
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a NikiShop MVC (Ecommerce)</h1>
    <p>Proyecto ASP.NET Core MVC conectado a Azure SQL.</p>
    <a asp-controller="Productos" asp-action="Index" class="btn btn-primary">Ver Lista de Productos</a>
</div>
