@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a NikiShop MVC</h1>
    <p>Este es el nuevo proyecto de tienda online.</p>
    <a asp-controller="Productos" asp-action="Index" class="btn btn-primary">Ver Lista de Productos</a>
</div>
